body {
  padding:0px;
  margin: 0;
  font-family: arial, sans-serif;
  background-color: rgb(255, 255, 255);
}
#bigWrapper{
  position:fixed;
  width:100%;
  height:100%;
  background-color: black;
  opacity:0.8;
  visibility:hidden;
}

h1 {
    margin:0px;
    text-align: center;
    text-shadow: -1px -1px 0px rgb(255, 175, 175), 1px 1px 0px rgb(69, 0, 0);
    color: rgb(187, 0, 0);
    opacity: 0.8;
    font: 700 80px 'Bitter';
}
#gameBoardWrapper{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row{
  display:flex;
}
.square {
  height:200px;
  width:200px;
  margin: 5px;
  border-radius: 10px;  
  background-color: rgb(172, 172, 172);
  border-width: 8px;
  text-align: center;
  box-shadow: 4px 4px 8px 0px black;
	font: 900 185px 'Bitter';
}
#newGame {
  margin:15px;
}
#newGame{
  margin: 40px;
  border-radius:15px;
  border-color:#333;
  height:50px;
  width:170px;
  box-shadow: 4px 4px 8px 0px black;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255, 249, 192, 0.76), 1px 1px 0px rgba(52, 42, 0, 0.897);
  color: rgba(255, 251, 0, 0.342);
  font: 700 30px 'Bitter';
  background-color: rgb(75, 75, 75);
  z-index: 3;
}
.X {
  text-shadow: -1px -1px 0px rgb(255, 175, 175), 1px 1px 0px rgb(69, 0, 0);
    color: rgb(187, 0, 0);
}

.O {
  text-shadow: -1px -1px 0px rgba(255, 186, 134, 0.858), 1px 1px 0px rgba(52, 31, 0, 0.897);
  color: rgba(227, 117, 0, 0.975);
}
#winner {
  border-radius: 15px;
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 3;
  height: 150px;
  width: 600px;
  opacity: 0.9;
  text-align: center;
  font: 700 100px 'Bitter';
}